.heading{
    font-size: xx-large;
}
.subhead{
    font-size: large;
}
.a{
    height: 400px;
    width: 620px;
    margin: 15px 15px 15px 15px;
}
.b{
    height: 500px;
    width: 600px;
    margin: 15px 15px 15px 15px;
}
.m{
    height: 600px;
    width: 700px;
    margin: 15px 15px 15px 15px;
}
.n{
    height: 500px;
    width: 900px;
    margin: 15px 15px 15px 15px;
}
.o{
    height: 400px;
    width: 600px;
    margin: 15px 15px 15px 15px;
}
.p{
    height: 400px;
    width: 600px;
    margin: 15px 15px 15px 15px;
}
.q{
    height: 300px;
    width: 400px;
    margin: 15px 15px 15px 15px;
}
.x{
    height: 350px;
    width: 450px;
    margin: 15px 15px 15px 15px;
}
.y{
    height: 400px;
    width: 500px;
    margin: 15px 15px 15px 15px;
}
.z{
    height: 400px;
    width: 500px;
    margin: 15px 15px 15px 15px;
}