.header{
    background:#6E3D7C;
    height: 66px;
    width: 1423px;
    color: aqua;
    
}

.footer{
    bottom : 0%;
    background: rgb(124, 61, 113);
    height: 66px;
    width: 1423px;

}
.title{
    width: 30%;
    float: left;
    padding-left: 20px;
    
}
.navigator{
    width: 66%;
    float: left;
    margin-top: 5px;
    padding-right: 10px;
    color: #FFFFFF;
    font-size: 15px;
}
a{
    padding: 0px 30px 0px 20px;
}
.footer{
    text-align: center;
    margin: 5px;
    padding: 5px;
}
img{
    width: 100%;
}

.desc{
    font: optional;
    font-style: oblique;
    font-weight: 200;
    color: blueviolet; 
}